.tiedition-m-6 { 
  margin-right:-6px !important;
  margin-left:-6px !important;
}
.tiedition-p-6 { 
  padding-right:6px !important;
  padding-left:6px !important;
}
.h-m-6 {
 margin-top:6px !important;
 margin-bottom:6px !important;
}