.inner_captcha_box {
  max-widht: 100%;
}
.inner_captcha_box img {
  width:198px;
  height:50px;
} 
.btn_refresh {
  display:none;
}
@media screen and (max-width: 767px) {
  .wrap_box_border {
    height:140px!important;
  }
}